In [1]:
#simple class
class NewClass:
    x=50
NewClass.x

50

In [2]:
#simple class
class NewClass1:
    x=100
#create obj
r=NewClass1()
print(r.x)

100

In [3]:
#self parameter in a class
class Student:
    id=10
    name="neha"
    def display(self):
        print(self.id,self.name,)
s=Student()
s.display()

10 neha

In [5]:
#doc string
class Student:
    "this is a student class"
    age=24
    def welcome(self):
        print("hi, welcome to section b")
print(Student.age)
print(Student.welcome)
print(Student.__doc__)

24
<function Student.welcome at 0x000002CF6A512160>
this is a student class

In [6]:
#init function in a class
class Student:
    def __init__(self,name,dob):
        self.name=name
        self.dob=dob
s1=Student("neha","06/08/1998")
print(s1.name)
print(s1.dob)

neha
06/08/1998

In [7]:
#modify objects
s1.name="virat"
print(s1.name)

virat

In [8]:
#delete property
del s1.name
print(s1.name)

AttributeError: 'Student' object has no attribute 'name'

In [9]:
#delete object
del s1
print(s1.dob)

NameError: name 's1' is not defined

In [11]:
class animal:
    def __init__(self,name):
        self.name=name
    def greet(self):
        print("hi, my name is",self.name)
a1=animal("puppy")
a1.greet()

hi, my name is puppy