In [1]:
#builtin function
#abs
a=abs(10.75)
a

10.75

In [2]:
b=abs(-10.75)
b

10.75

In [3]:
#len
list1=[1,2,3,4,5,6,7,10]
x=len(list1)
print(x)

8

In [4]:
#all
my_list=[0,1,0]
x=all(my_list)
print(x)

False

In [6]:
#sum
s=sum([20,35,70])
s1=sum((7,5,9))
print(s)
print(s1)

125
21

In [2]:
#max & min 
m1=max(7,10,3,12,61,40)
m2=min(7,10,3,12,61,40)
print(m1,m2)

61 3

In [4]:
dic1=max({7,90,3,150,67,44})
dic2=min({7,90,3,150,67,44})
print(dic1,dic2)

150 3

In [5]:
#iter
mylist=iter(['i','n','d','i','a'])
x=next(mylist)
print(x)

i

In [6]:
x=next(mylist)
print(x)

n

In [7]:
x=next(mylist)
print(x)

d

In [8]:
x=next(mylist)
print(x)

i

In [9]:
#pow
x1=pow(3,3)
x2=pow(2,4)
print(x1,x2)

27 16

In [10]:
#range
x=range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [11]:
x=range(40,50,2)
for n in x:
    print(n)

40
42
44
46
48

In [12]:
#round
x=round(8.62475,2)
print(x)

8.62

In [14]:
#sorted
a=['i','n','d','i','a']
x=sorted(a)
y=sorted(a,reverse=True)  #for descending order
print(x)
print(y)

['a', 'd', 'i', 'i', 'n']
['n', 'i', 'i', 'd', 'a']

In [15]:
#slice
a=("h","e","l","l","o")
x=slice(4)
print(a[x])

('h', 'e', 'l', 'l')

In [16]:
#User defined functions
def func1():
    print("hello world")
func1()

hello world

In [19]:
def hello():
    name=str(input("enter your country name: "))
    print("hello "+str(name))
hello()

enter your country name: india
hello india

In [20]:
#with argument
def ft_to_cm(ft):
    centemeter=ft*30.48
    return centemeter
ft_to_cm(6)

182.88

In [21]:
#with multilple argument
def add(x,y):
    sum=x+y
    print(sum)
add(50,50)

100

In [22]:
add(-20,30)

10

In [24]:
def mult(x,y):
    product=x*y
    print(product)
mult(35,2)

70

In [25]:
def absolute(x):
    if x>=0:
        return x
    else:
        return -x
print(absolute(56))

56

In [26]:
print(absolute(-56))

56

In [27]:
def absolute(x):
    if x>=0:
        return x
    else:
        return -(-x)
print(absolute(56))

56

In [28]:
print(absolute(-56))

-56

In [32]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)
factorial(5)

120

In [33]:

factorial(7)

5040

In [34]:
factorial(1)

1

In [35]:
factorial(0)

1

In [36]:
#default arguments
def welcome(name='neha'):
    print("hello",name)
welcome()

hello neha

In [37]:
welcome("isha")

hello isha

In [39]:
def message(name1,name2,name3):
    print("hello ",name1, "plese tell", name2, "that", name3, "is waiting")
message("Salman","shahrukh","amir")

hello  Salman plese tell shahrukh that amir is waiting

In [40]:
#scope of variable
def func3():
    z=7
    print(z)
func3()

7

In [41]:
z# variable is defined in inside function so we cant use it outside the function

NameError: name 'z' is not defined

In [42]:
z=7
def func3():
    z=7
    print(z)
func3()

7

In [43]:
z #here error not occures bcz we declair variable globally

7

In [44]:
z=7
def func4():
    z=z+1
    print(z)
func4() #cant change value inside function

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

In [45]:
z=7
def func4():
    global z
    z=z+1
    print(z)
func4()

8

In [47]:
#use * when no of argument isnot known
def welcome(*names):
    print("hello", names[0], ', ', names[1], ', ', names[2])
welcome("neha","riya","isha")

hello neha ,  riya ,  isha

In [50]:
pi=3.14
def circlearea(radious):
    return pi*radious*radious
def spherearea(radious):
    return 4*pi*radious*radious
def main():
    print("circle area with radious 15:",circlearea(15))
    print("spherearea area with radious 10:",spherearea(15))
main()

circle area with radious 15: 706.5
spherearea area with radious 10: 2826.0