In [1]:
#for loops
#value o list in ascending order using sorted method with for loop
num=[2,5,10,4,36,50,49]
for i in sorted(num):
    print(i)

2
4
5
10
36
49
50

In [2]:
#value o list in ascending order using sorted method with for loop
num=[2,5,10,4,36,50,49]
for i in sorted(num, reverse=True):
    print(i)

50
49
36
10
5
4
2

In [3]:
players=["messy","ronaldo","salah","harry"]
for i in sorted(players,reverse=True):
    print(i)

salah
ronaldo
messy
harry

In [4]:
d={'f':1,'b':4, 'a':3, 'e':9, 'c':2}
for i in sorted(d.items()):
    print(i)

('a', 3)
('b', 4)
('c', 2)
('e', 9)
('f', 1)

In [5]:
d={'f':1,'b':4, 'a':3, 'e':9, 'c':2}
for i in sorted(d.keys()):
    print(i)

a
b
c
e
f

In [6]:
d={'f':1,'b':4, 'a':3, 'e':9, 'c':2}
for i in sorted(d.values()):
    print(i)

1
2
3
4
9

In [8]:
players=["messy","ronaldo","salah","harry"]
for i in reversed(players):
    print(i)

harry
salah
ronaldo
messy

In [10]:
animals=[{"name":"dog", "age":11},{"name":"lion", "age":30},{"name":"elephant", "age":63},{"name":"leopard", "age":18}]
for animals in filter(lambda i:i["age"]%2==0,animals):
    print(animals)

{'name': 'lion', 'age': 30}
{'name': 'leopard', 'age': 18}

In [11]:
#While loop
country=['india','canda','brazil','japan','istrail']
while country:
    print(country.pop(-1))

istrail
japan
brazil
canda
india

In [12]:
country

[]

In [13]:
num=10
while num>0:num=num-1;print(num)

9
8
7
6
5
4
3
2
1
0

In [ ]:
while True:
    num=int(input("enter an integer:"))
    print("the product of",num,"multiplied by 5 is", 5*num)

enter an integer:10
the product of 10 multiplied by 5 is 50
enter an integer:7
the product of 7 multiplied by 5 is 35

In [22]:
#enumerate function
for i in enumerate(['the','brown','for','jumped','over','the','lazy','dog','.']):
    print(i)

(0, 'the')
(1, 'brown')
(2, 'for')
(3, 'jumped')
(4, 'over')
(5, 'the')
(6, 'lazy')
(7, 'dog')
(8, '.')

In [24]:
for key,value in enumerate(['the','brown','for','jumped','over','the','lazy','dog','.']):
    print(key,value)

0 the
1 brown
2 for
3 jumped
4 over
5 the
6 lazy
7 dog
8 .

In [27]:
for key,value in enumerate(['the','brown','for','jumped','over','the','lazy','dog','.']):
    print(value, end=' ')

the brown for jumped over the lazy dog .

In [28]:
company="simplilearn"
for i,j in enumerate(company):
    print(i,j)

0 s
1 i
2 m
3 p
4 l
5 i
6 l
7 e
8 a
9 r
10 n

In [30]:
company="simplilearn"
for i in enumerate(company,start=10):
    print(i)

(10, 's')
(11, 'i')
(12, 'm')
(13, 'p')
(14, 'l')
(15, 'i')
(16, 'l')
(17, 'e')
(18, 'a')
(19, 'r')
(20, 'n')

In [32]:
#zip functions
first=["sachin","m.s","virat"]
last=["tendulkar","dhoni","kohli"]
for i in zip(first,last):
    print(i)

('sachin', 'tendulkar')
('m.s', 'dhoni')
('virat', 'kohli')

In [33]:
first=["sachin","m.s","virat"]
last=["tendulkar","dhoni","kohli"]
num=[1,2,3,4,5,6,7,8]
for i in zip(first,last,num):
    print(i)

('sachin', 'tendulkar', 1)
('m.s', 'dhoni', 2)
('virat', 'kohli', 3)

In [34]:
from itertools import zip_longest
first=["sachin","m.s","virat","sachin","m.s","virat"]
last=["tendulkar","dhoni","kohli"]
for i in zip_longest(first,last):
    print(i)

('sachin', 'tendulkar')
('m.s', 'dhoni')
('virat', 'kohli')
('sachin', None)
('m.s', None)
('virat', None)

In [35]:
#solve above problem
from itertools import zip_longest
first=["sachin","m.s","virat","sachin","m.s","virat"]
last=["tendulkar","dhoni","kohli"]
for i in zip_longest(first,last,fillvalue="NA"):
    print(i)

('sachin', 'tendulkar')
('m.s', 'dhoni')
('virat', 'kohli')
('sachin', 'NA')
('m.s', 'NA')
('virat', 'NA')