In [1]:
str1="hii sam"
print(str1)

hii sam

In [2]:
type(str1)

str

In [3]:
str2='hello neha!'
print(str2)
type(str2)

hello neha!

str

In [4]:
str3='''hello everyone
today we are learn about string'''
print(str3)
type(str3)

hello everyone
today we are learn about string

str

In [5]:
#indexing
str1="welcome"
str1[0]

'w'

In [6]:
str1[1:3]

'el'

In [8]:
str1[12]

IndexError: string index out of range

In [9]:
#slicing operator
str1

'welcome'

In [10]:
str1[0:]

'welcome'

In [11]:
str1[1:4]

'elc'

In [13]:
print(str1[::-1])

emoclew

str1

In [14]:
str1[-1]

'e'

In [15]:
str1[-2:]

'me'

In [3]:
#reasigned strings
str1="welcome"
str1

'welcome'

In [5]:
str1[3]='o'
print(str1)

TypeError: 'str' object does not support item assignment

In [7]:
str2="python programming"
del str2
print(str2)

NameError: name 'str2' is not defined

In [8]:
#string operations
str1="python"
str2="programming"
str1*3

'pythonpythonpython'

In [9]:
str1+str2

'pythonprogramming'

In [11]:
print('w' in str1)

False

In [12]:
print('o' in str2)

True

In [13]:
print('la' in str2)

False

In [16]:
print(r'c://python3.7')

c://python3.7

In [17]:
#formatting methods
print("{} and {} both are best friends ".format("isha", "nisha"))

isha and nisha both are best friends

In [18]:
print("{1} and {0} both are best friends ".format("isha", "nisha"))

nisha and isha both are best friends

In [20]:
print("{a} and {b} both are best friends ".format(a="isha", b="nisha"))

isha and nisha both are best friends

In [28]:
name="angel"
salary=10000
print("her name is %s\n and salary is %d"%(name,salary))

her name is angel
 and salary is 10000

In [30]:
str1="welcome"
str2=str1.capitalize()
print("old value:",str1)
print("new value:",str2)

old value: welcome
new value: Welcome

In [31]:
str1="WELCOME"
str2=str1.casefold()
print("old value:",str1)
print("new value:",str2)

old value: WELCOME
new value: welcome

In [32]:
str1="WelCome"
str2=str1.upper()
print("old value:",str1)
print("new value:",str2)

old value: WelCome
new value: WELCOME

In [33]:
str1="WELCOME"
str2=str1.lower()
print("old value:",str1)
print("new value:",str2)

old value: WELCOME
new value: welcome

In [34]:
str1="welcome everyone"
str2=str1.title()
print("old value:",str1)
print("new value:",str2)

old value: welcome everyone
new value: Welcome Everyone

In [35]:
str1="python programming"
str2=str1.count('n')
print("occurances:", str2)

occurances: 2

In [37]:
#replace
str1="pune is located in maharashtra"
str2=str1.replace("pune", "mumbai")
str2

'mumbai is located in maharashtra'

In [38]:
#split function
str1="pune is located in maharashtra"
str2=str1.split()
print(str1)
print(str2)

pune is located in maharashtra
['pune', 'is', 'located', 'in', 'maharashtra']